@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #2412e9 0%, #143e5f 50%, #001f36 100%);

}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #D6EDFF;
    font-size: 28px;
    margin: 0;
    text-align: center;
}

p, a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

main{
    width: 80vw;
    margin: 2rem auto;
}

.foto{
    text-align: center;
    margin: 2rem;
}

.foto img{
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.video_youtube{
    text-align: center;
}